<div class="conatiner-fluid" class="main">
  <h1>Contact Us </h1>
</div>

<div id="contact"  class="request mt-5">
  <div class="container">
    
     <div class="row">
        <div class="col-md-6">
          <div class="titlepage">
            <h2>Send <span class="white">Massege</span></h2>
         </div>
          <form action="">
            <label for="fname">Your  Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">
        
            <label for="lname">Email</label>
            <input type="email"  name="email" placeholder="Your email..">
        
            <label for="country">Location</label>
            <select id="country" name="country">
              <option value="australia">Mumbai</option>
              <option value="canada">Pune</option>
              <option value="usa">Banglore</option>
            </select>
        
            <label for="subject">Subject</label>
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
        
            <button class="send_btn">Submit</button>
          </form>
        </div>
        <div class="col-md-6">
           <div id="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3123.4284152297178!2d72.9576285978259!3d19.176387825974878!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b85655555555%3A0x879d4596068a3289!2sEcstasy%20Business%20Park!5e0!3m2!1sen!2sin!4v1669962230090!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
        </div>
     </div>
  </div>
</div>

