<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top "   >
      <div class="container-fluid">
        
        <a class="navbar-brand title" routerLink="">
          <img src="assets\logo.png" height="80px" width="200px" class="logo"> </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav navlist">
            <li class="nav-item">
              <a class="nav-link  nav_link active navhome" aria-current="page" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav_link" routerLink="aboutus" routerLinkActive="active-link">About Us</a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link nav_link " tabindex="-1"routerLink="services"  routerLinkActive="active-link">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav_link" routerLink="contactus" routerLinkActive="active-link" >Contact Us</a>
            </li>
          </ul>
        
        </div>
      </div>
    </nav>
    