<div class="home-area">
  <div class="d-table">
      <div class="d-table-cell">
          <div class="container">
              <div class="row align-items-center">
                  <div class="col-md-6">
                      <div class="main-content">
                          <h1 class="main-content-title">IT Solutions &  Services Provider  Company</h1>
                            
                      </div>

                  </div>
                  <div class="col-md-6">
                      <div class="banner-image">
                          <img src="assets\home2.png" alt="home-front">
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>
  <div class="creative-shape">
      <img src="assets\home-bottom-shape.png" alt="home-bottom-shape">
  </div>
</div>
<div class="container">
  <div class="service-title">
      <h6 class="service-title-1">WHAT WE PROVIDE</h6>
          <h2 class="service-title-2">IT Solutions</h2>
  </div>
  <div class="service-content">
      <div class="row">
          <div class="col-lg-4 col-md-6">
              <div class="card">
                  <!-- <i class="image.png"></i> -->
                  <div class="card-body">
                      <h3 class="service-content-title">Web Development</h3>
                      <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                          tempor incididunt dolore magna aliqua</p>
                      <a (click)="navigate()" class="read-more"><b>Read more</b></a>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="card">
                  <!-- <i class="image.png"></i> -->
                  <div class="card-body">
                      <h3 class="service-content-title"> Mobile Application </h3>
                      <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                          tempor incididunt dolore magna aliqua</p>
                      <a (click)="navigate()" class="read-more"><b>Read more</b></a>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="card">
                  <!-- <i class="image.png"></i> -->
                  <div class="card-body">
                      <h3 class="service-content-title">Testing</h3>
                      <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                          tempor incididunt dolore magna aliqua</p>
                      <a (click)="navigate()" class="read-more"><b>Read more</b></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="about-area">
  <div class="container">
      <div class="row d-flex">
          <div class="col-lg-6 col-md-12 ">
              <div class="about-content">
                  <h6 class="about-content-title">About our company</h6>
                  <h2 class="about-content-desc">Providing your business with a quality IT service is our passion.
                  </h2>
                  <p class="about-content-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                      eiusmod tempor incididunt ut labore et dolore magna aliqua enim ad minim veniam, nostrud</p>

                  <div class="skills">
                      <div class="skill-items">
                          <h6>IT consulting
                              <em>90%</em>
                          </h6>
                          <div class="progress" style=" height:5px">
                              <div class="progress-bar bar1" style="width:90%;height:5px"></div>
                          </div>
                      </div>
                      <div class="skill-items">
                          <h6>Web Development
                              <em>75%</em>
                          </h6>
                          <div class="progress" style=" height:5px">
                              <div class="progress-bar bar2" style="width:75%;height:5px"></div>
                          </div>
                      </div>
                      <div class="skill-items">
                          <h6>UI Ux
                              <em>80%</em>
                          </h6>
                          <div class="progress" style=" height:5px">
                              <div class="progress-bar bar3" style="width:80%;height:5px"></div>
                          </div>
                      </div>
                  </div>
                  
                      <button class="btn">Learn More</button>
                  
              </div>
          </div>

          <div class="col-lg-6 col-md-12">
              <div class="about-img">
                  <img src="assets\progress.png" class="about-img" alt="about" width="100%">
                  
              </div>
          </div>
      </div>
  </div>

</div>
