<div class="conatiner-fluid" class="main">
  <h1>About Us </h1>
</div>

<div class="container mt-5">
  <div class="row" >
    <div class="col-md-6" >
      <h6>ABOUT OUR COMPANY</h6>
      <h4>Providing your business with a quality IT service is our passion.</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
         incididunt ut labore et dolore magna aliqua enim ad minim veniam, nostrud
      </p>
      <p id="demo" class="collapse">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      
      <button class="aboutus-btn" data-bs-toggle="collapse" data-bs-target="#demo">Learn More</button>
      
    </div>
    <div class="col-md-6"><img src="assets\about.png" alt="it"  width="550px"></div>

  </div>
 
</div>


<div class="container-fluid mt-5">
  <div class="row  ">
    <div class="coverimg">
      <div class="coverimgtext">
        <h2 style="color: white;">Digitally transform and grow your business!</h2>
        <button class="btn" routerLink="contactus" (click)="navigate()" [routerLink]="['contactus']">Contact Us</button>
      </div>
    </div>
  </div>
 </div> 
